*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow:hidden;
}
.contact-col input, .contact-col textarea{
    width:50%;
    padding-top:2rem;
    margin-left: 14rem;
    margin-top: 2rem;
    outline:none;
    border:2px solid #941;
    box-sizing: border-box;
}
button{
    position: absolute;
    padding:1rem;
    width:10%;
    bottom:1.5rem;
    left:14rem;
    
}